<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="header" th:fragment="header">
        <div class="header__title">
            <a class="header__title__link" th:href="'/'">
                <h1 class="header__title__link__text">ComMBTI</h1>
            </a>
        </div>
        <div sec:authorize="not isAuthenticated()" class="header__auth">
            <div class="header__auth__login">
                <a th:href="'/login'" class="header__auth__link">로그인</a>
            </div>
            <div class="header__auth__signup">
                <a th:href="'/signup'" class="header__auth__link">회원가입</a>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()" class="header__auth">
            <div class="header__auth__login">
                <a th:href="'/logout'" class="header__auth__link">로그아웃</a>
            </div>
<!--            TODO: 내정보-->
        </div>
    </header>

</body>

</html>