<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/admin/body.css">
    <link rel="stylesheet" href="/css/admin/elements.css">
    <link rel="stylesheet" href="/css/common/layout.css">
    <link rel="stylesheet" href="/css/common/page.css">
    <title>ComMBTI</title>
    <script src="https://kit.fontawesome.com/cc4e8a330a.js" crossorigin="anonymous"></script>

</head>

<body>
<header th:replace="~{common/header :: header}">
    페이지의 헤더 부분
</header>


<main class="main">
    <header class="section__header">
        <div class="nav__wrapper">
            <a th:href="'/admin/members'" class="nav__member">회원 관리</a>
            <a th:href="'/admin/bulletins'" class="nav__bulletin">게시글 관리</a>
            <a th:href="'/admin/comments'" class="nav__comment">댓글 관리</a>
        </div>
        <form action="/admin/bulletins" method="GET" class="header__search">
            <select name="type" class="search__type">
                <option value="username" selected>아이디</option>
                <option value="memberId" selected>작성자PK</option>
                <option value="id">번호</option>
                <option value="title">제목</option>
                <option value="content">내용</option>
            </select>
            <input type="text" placeholder="검색어를 입력해주세요." class="search__keyword" name="keyword">
            <button class="search__button">검색</button>
        </form>
    </header>
    <section>
        <table>
            <thead>
            <th class="number__wrapper">번호</th>
            <th class="number__wrapper">작성자PK</th>
            <th>작성자 아이디</th>
            <th class="title">제목</th>
            <th class="content">내용</th>
            <th>작성일</th>
            <th class="number__wrapper">조회수</th>
            <th class="number__wrapper">댓글수</th>
            <th class="function__wrapper">삭제</th>
            <th class="function__wrapper">상세</th>
            </thead>
            <tbody>
            <tr th:each="bulletin : ${bulletinPage.pageContents}">
                <td th:text="${bulletin.id}" class="number__wrapper"></td>
                <td th:text="${bulletin.memberId}" class="number__wrapper"></td>
                <td th:text="${bulletin.username}"></td>
                <td th:text="${bulletin.title}" class="title"></td>
                <td th:text="${bulletin.content}" class="content"></td>
                <td th:text="${#temporals.format(bulletin.createdAt, 'yyyy년 MM월 dd일 HH시 mm분')}"></td>
                <td th:text="${bulletin.viewCount}"></td>
                <td th:text="${bulletin.commentCount}"></td>
                <td class="function__wrapper">
                    <div class="contentButton__wrapper">
                    <a th:href="'/admin/bulletins/' + ${bulletin.id} + '/delete'"
                    class="contentButton">
                        삭제
                    </a>
                    </div>
                </td>
                <td class="function__wrapper">
                    <div class="contentButton__wrapper">
                        <a th:href="'/bulletin-board/bulletins/' + ${bulletin.id}"
                           class="contentButton">
                            이동
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <nav th:if="${bulletinPage.pageInfo.total} > 0" class="nav__pagination">
            <ul class="pagination"
                th:with="start=${bulletinPage.pageInfo.startNumber}, end=${bulletinPage.pageInfo.endNumber}">
                <li class="pagination__wrapper" th:if="${start > 1}">
                    <a class="pagination__btn" th:href="@{/admin/bulletins(type=${type}, keyword=${keyword}, page=${end} - 10, size=10)}"
                       th:text="'<<'"></a>
                </li>
                <li class="pagination__wrapper" th:if="${bulletinPage.pageInfo.hasPreviousPage}">
                    <a class="pagination__btn"
                       th:href="@{/admin/bulletins(type=${type}, keyword=${keyword}, page=${bulletinPage.pageInfo.currentPage} - 1, size=10)}"
                       th:text="'<'"></a>
                </li>

                <li class="pagination__wrapper" th:each="page: ${#numbers.sequence(start, end)}">
                    <a th:if="${page} == ${bulletinPage.getPageInfo().currentPage}" id="pagination_button_current"
                       class="pagination__btn" th:text="${page}"
                       th:href="@{/admin/bulletins(type=${type}, keyword=${keyword}, page=${page}, size=10)}"></a>
                    <a th:unless="${page} == ${bulletinPage.getPageInfo().currentPage}" class="pagination__btn"
                       th:text="${page}"
                       th:href="@{/admin/bulletins(type=${type}, keyword=${keyword}, page=${page}, size=10)}"></a>
                </li>

                <li class="pagination__wrapper" th:if="${bulletinPage.pageInfo.hasNextPage}">
                    <a class="pagination__btn"
                       th:href="@{/admin/bulletins(type=${type}, keyword=${keyword}, page=${bulletinPage.pageInfo.currentPage} + 1, size=10)}"
                       th:text="'>'"></a>
                </li>
                <li class="pagination__wrapper" th:if="${end + 10 <= bulletinPage.pageInfo.totalPage}">
                    <a class="pagination__btn" th:href="@{/admin/bulletins(type=${type}, keyword=${keyword}, page=${start} + 10, size=10)}"
                       th:text="'>>'"></a>
                </li>
            </ul>
        </nav>
    </section>
    <footer class="section__footer"></footer>
</main>

</body>

</html>