<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bulletin-board/board.css">
    <link rel="stylesheet" href="/css/common/layout.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/page.css">
    <title>ComMBTI</title>
    <script src="https://kit.fontawesome.com/cc4e8a330a.js" crossorigin="anonymous"></script>

</head>

<body>
<header th:replace="~{common/header :: header}">
    페이지의 헤더 부분
</header>


<section class="section">
    <header class="section__header">게시판의 헤더부분
        <div class="header__post">
            <a th:href="'/bulletin-board/bulletins/post'" class="header__post__button">등록하기</a>
        </div>
    </header>
    <article class="section__body">
        <ul class="section__body__wrapper">
            <li th:each="bulletin: ${boardPage.boardResponseDtoList}" class="section__body__wrapper__content">
                <div th:unless="${bulletin.thumbnailPath == null}" class="body__wrapper__content__left">
                    <a class="content__left__image"
                       th:href="'/bulletin-board/bulletins/' + ${bulletin.id}">
                        <img class="content__left__image__detail" th:src="@{''} + ${bulletin.thumbnailPath}"
                             alt="사진">
                    </a>
                </div>

                <div class="body__wrapper__content__right">
                    <div th:text="${bulletin.mbtiType} " class="content__right__top">
                        (작성자의 MBTI) INTJ
                    </div>
                    <div class="content__right__middle">
                        <a th:text="${bulletin.title}"
                           th:href="'/bulletin-board/bulletins/' + ${bulletin.id}"
                           class="content__right__middle__header">게시글_제목</a>

                        <a th:text="${bulletin.content}"
                           th:href="'/bulletin-board/bulletins/' + ${bulletin.id}"
                           href="./bulletin.html" class="content__right__middle__body">게시글_본문</a>
                    </div>
                    <div class="content__right__bottom">
                        <div class="content__right__bottom__detail">
                            <i class="fa-solid fa-eye"></i>
                            <div th:text="${bulletin.viewCount}" class="comment__count__detail">(조회수) 5</div>
                        </div>
                        <div class="content__right__bottom__detail">
                            <i class="fa-solid fa-comment"></i>
                            <div th:text="${bulletin.commentCount}" class="comment__count__detail">(댓글) 4</div>
                        </div>
                        <div class="content__right__bottom__detail">
                            <i class="fa-solid fa-clock"></i>
                            <div th:text="${bulletin.createdAt}" class="comment__count__detail"> 몇 분전</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <nav th:if="${boardPage.pageInfo.total} > 0" class="nav__pagination">
            <ul class="pagination"
                th:with="start=${boardPage.pageInfo.startNumber}, end=${boardPage.pageInfo.endNumber}">
                <li class="pagination__wrapper" th:if="${start > 1}">
                    <a class="pagination__btn" th:href="@{/bulletin-board(page=${start} - 10, size=10)}"
                       th:text="'<<'"></a>
                </li>
                <li class="pagination__wrapper" th:if="${boardPage.pageInfo.hasPreviousPage}">
                    <a class="pagination__btn"
                       th:href="@{/bulletin-board(page=${boardPage.pageInfo.currentPage} - 1, size=10)}"
                       th:text="'<'"></a>
                </li>

                <li class="pagination__wrapper" th:each="page: ${#numbers.sequence(start, end)}">
                    <a th:if="${page} == ${boardPage.getPageInfo().currentPage}" id="pagination_button_current"
                       class="pagination__btn" th:text="${page}"
                       th:href="@{/bulletin-board(page=${page}, size=10)}"></a>
                    <a th:unless="${page} == ${boardPage.getPageInfo().currentPage}" class="pagination__btn"
                       th:text="${page}"
                       th:href="@{/bulletin-board(page=${page}, size=10)}"></a>
                </li>

                <li class="pagination__wrapper" th:if="${boardPage.pageInfo.hasNextPage}">
                    <a class="pagination__btn"
                       th:href="@{/bulletin-board(page=${boardPage.pageInfo.currentPage} + 1, size=10)}"
                       th:text="'>'"></a>
                </li>
                <li class="pagination__wrapper" th:if="${end < boardPage.pageInfo.totalPage}">
                    <a class="pagination__btn" th:href="@{/bulletin-board(page=${end} + 10, size=10)}"
                       th:text="'>>'"></a>
                </li>
            </ul>
        </nav>
    </article>
    <footer class="section__footer"></footer>
</section>

</body>

</html>