<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bulletin-board/bulletin.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/page.css">
    <link rel="stylesheet" href="/css/common/layout.css">
    <title>ComMBTI</title>
    <script src="https://kit.fontawesome.com/cc4e8a330a.js" crossorigin="anonymous"></script>
</head>

<body>
<header th:replace="/common/header :: header">
    게시판 헤더 부분
</header>


<section class="section">
    <header class="section__header">
        <!-- 광고 부분 -->
    </header>
    <article class="section__article">
        <div class="content__header">
            <div class="content__header__left">
                <div th:text="${bulletin.mbtiType}" class="bulletin__mbti">
                    INTJ
                </div>
                <div class="bulletin__time">
                    <i class="fa-solid fa-clock"></i>
                    <div th:text="${bulletin.createdAt}" class="content__side__info__detail">10분전</div>
                </div>
                <div class="bulletin__view">
                    <i class="fa-solid fa-eye"></i>
                    <div th:text="${bulletin.viewCount}" class="content__side__info__detail">5</div>
                </div>
            </div>
            <div class="content__header__right">
                <!--해당 게시글을 작성한 유저: 수정하기 삭제하기-->
                <!--TODO:해당 게시글을 작성하지 않은 유저: 신고하기-->
                <!--                <button onclick=report()>신고하기</button>-->
                <button th:if="${#authorization.expr('isAuthenticated()')} and ${#authentication.principal.member.id} == ${bulletin.memberId}"
                        id="bulletinEditButton" class="content__header__right__detail">
                    수정하기
                </button>
                <button th:if="${#authorization.expr('isAuthenticated()')} and ${#authentication.principal.member.id} == ${bulletin.memberId}" class="content__header__right__detail"
                        id="bulletinDeleteButton">
                    삭제하기
                </button>
            </div>
        </div>

        <div class="section__article__body" id="bulletin", th:data-bulletin-id="${bulletin.bulletinId}">
            <div th:text="${bulletin.title}" class="article__body__title">
                게시글 제목
            </div>
            <div class="article__body__content">
                <div th:if="${not #lists.isEmpty(bulletin.imageFileResponseDtoList)}"
                     th:each="image: ${bulletin.imageFileResponseDtoList}" class="article__body__content__image">
                    <img class="body__content__image__detail" th:src="@{${image.imagePath}}"/>
                </div>
                <div th:text="${bulletin.content}" class="article__body__content__text">게시글 본문</div>
            </div>

            <div class="section__article__body__footer">
            </div>
        </div>

        <div class="section__footer">
            <!-- 댓글 부분 -->
            <div class="section__footer__form">
                <div class="section__footer__form__inp">
                    <textarea id="commentContent" class="input__detail" rows="3"
                              placeholder="댓글을 작성하려면 로그인 해주세요."></textarea>
                </div>
                <div class="section__footer__form__butn" th:if="${#authorization.expr('isAuthenticated()')}">
                    <button class="footer__form__butn__detail" id="commentPostButton">댓글 쓰기</button>
                </div>
            </div>
        </div>
        <div class="section__footer__wrapper">
            <div class="section__footer__comment__count">
                <i class="fa-solid fa-comment"></i>
                <div th:text="${commentPage.getPageInfo().getTotal()}" class="comment__count__detail">댓글 4</div>
            </div>
            <ul class="section__footer__comment__wrapper">
                <li th:each="comment: ${commentPage.commentResponseDtoList}" class="comment__wrapper"
                    th:id="${comment.commentId}">
                    <div class="comment__header">
                        <div class="comment__header__left">
                            <div th:text="${comment.mbtiType}" class="bulletin__mbti">
                                ISTP
                            </div>
                            <div class="bulletin__time">
                                <i class="fa-solid fa-clock"></i>
                                <div th:text="${comment.createdAt}" class="content__side__info__detail">10분전</div>
                            </div>
                        </div>
                        <div class="comment__header__right">
                            <!--해당 게시글을 작성한 유저: 수정하기 삭제하기-->
                            <!--TODO:해당 게시글을 작성하지 않은 유저: 신고하기-->
                            <button th:if="${#authorization.expr('isAuthenticated()')} and ${#authentication.principal.member.id} == ${comment.memberId}"
                                    th:data-comment-id="${comment.commentId}"
                                    class="comment__edit__button">수정하기
                            </button>
                            <button th:if="${#authorization.expr('isAuthenticated()')} and ${#authentication.principal.member.id} == ${comment.memberId}"
                                    th:data-comment-id="${comment.commentId}"
                                    class="comment__delete__button">
                                삭제하기
                            </button>
                            <button th:data-comment-id="${comment.commentId}"
                                    class="comment__save__button">
                                저장하기
                            </button>
                        </div>
                    </div>
                    <div class="comment__body__wrapper">
                        <div th:id="'content-' + ${comment.commentId}" th:text="${comment.content}"
                             class="comment__body__content">
                            季節계절이 지나가는 하늘에는 가을로 가득 차있습니다。
                        </div>
                    </div>

                </li>
            </ul>
            <nav th:if="${commentPage.pageInfo.total} > 0" class="nav__pagination">
                <ul class="pagination"
                    th:with="start=${commentPage.pageInfo.startNumber}, end=${commentPage.pageInfo.endNumber}">
                    <li class="pagination__wrapper" th:if="${start > 1}">
                        <a class="pagination__btn"
                           th:href="@{'/bulletin-board/bulletins/' + ${bulletin.bulletinId} + '/comments'(page=${start} - 10, size=10)}"
                           th:text="'<<'"></a>
                    </li>
                    <li class="pagination__wrapper" th:if="${commentPage.pageInfo.hasPreviousPage}">
                        <a class="pagination__btn"
                           th:href="@{'/bulletin-board/bulletins/' + ${bulletin.bulletinId} + '/comments'(page=${commentPage.pageInfo.currentPage} - 1, size=10)}"
                           th:text="'<'"></a>
                    </li>

                    <li class="pagination__wrapper" th:each="page: ${#numbers.sequence(start, end)}">
                        <a th:if="${page} == ${commentPage.pageInfo.currentPage}" id="pagination_button_current"
                           class="pagination__btn" th:text="${page}"
                           th:href="@{'/bulletin-board/bulletins/' + ${bulletin.bulletinId} + '/comments'(page=${page}, size=10)}"></a>
                        <a th:unless="${page} == ${commentPage.pageInfo.currentPage}" class="pagination__btn"
                           th:text="${page}"
                           th:href="@{'/bulletin-board/bulletins/' + ${bulletin.bulletinId} + '/comments'(page=${page}, size=10)}"></a>
                    </li>

                    <li class="pagination__wrapper" th:if="${commentPage.pageInfo.hasNextPage}">
                        <a class="pagination__btn"
                           th:href="@{'/bulletin-board/bulletins/' + ${bulletin.bulletinId} + '/comments'(page=${commentPage.pageInfo.currentPage} + 1, size=10)}"
                           th:text="'>'"></a>
                    </li>
                    <li class="pagination__wrapper" th:if="${end < commentPage.pageInfo.totalPage}">
                        <a class="pagination__btn"
                           th:href="@{'/bulletin-board/bulletins/' + ${bulletin.bulletinId} + '/comments'(page=${end} + 10, size=10)}"
                           th:text="'>>'"></a>
                    </li>
                </ul>
            </nav>
        </div>

    </article>
    <footer class="section__footer"></footer>
</section>
</body>
<script src="/js/bulletin-board/bulletin.js"></script>
</html>