<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/static/css/header.css">
<link rel="stylesheet" href="/static/css/layout.css">
<link rel="stylesheet" href="/static/css/registration.css">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/boards.css">
    <title>ComMBTI</title>
    <script src="https://kit.fontawesome.com/cc4e8a330a.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="header__title">
            <a class="header__title__link" href="./boards.html">
                <h1 class="header__title__link__text">ComMBTI</h1>
            </a>
        </div>
        <div class="header__auth">
            <div class="header__auth__login">
                <a href="" class="header__auth__link">로그인</a>
            </div>
            <div class="header__auth__signup">
                <a href="" class="header__auth__link">회원가입</a>
            </div>
        </div>
    </header>
    <section class="section">
        <article class="section__article">
            <form action="section__article__form">
                <div class="article__form">
                    <div class="article__form__detail">제목</div>
                    <input type="text" placeholder="제목을 입력해주세요." class="article__form__input">
                </div>
                <div class="article__form">
                    <div class="article__form__detail">본문</div>
                    <textarea name="" id="" cols="30" rows="10" placeholder="내용을 입력해주세요." class="article__form__input"></textarea>
                </div>
                <div class="article__form">
                    <div class="article__form__detail">파일첨부</div>
                    <input type="file" multiple class="article__form__file__input">
                </div>
                <div class="article__form">
                    <button class="article__form__submit__button">등록하기</button>
                </div>
                
            </form>
        </article>
    </section>

</body>

</html>