* {
    box-sizing: border-box;
    margin: 0;
}

body, html {
    height: 850px;
    min-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 60px 0px 60px 0px;
}

.section__wrapper {
    width: 500px;
    height: 700px;
    border: 1px solid #44556675;
    box-shadow: 7px 7px 39px rgba(68, 85, 85, 0.25);
    border-radius: 20px;
    padding: 70px 100px;
    display: flex;
    flex-direction: column;
}

